.container-fluid{
    height: 10vh;
}
.navbar-form{
    background-color: aqua;
    width: 200px;
}

.navbar-brand{
    margin-left: 20px;
    font-size: 2em;
    font-family: cursive;
}
.nav-item{
    margin-right: 20px;
} 
