.container-fluid{
    background-size: cover;
}

.weather-info{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50px;
    
}

.city{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 3em;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.top-data{
    margin-top: 80px;
    margin-left:40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.low-data{
    margin-top: 80px;
    margin-left:40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

