.news{
    height: 300px;
    border-radius: 20px;
    display: flex;
}
.images{
    height:300px;
    width: 500px;
}
.container-fluid{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.title{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    block-size: fit-content;
}
.container-button{
    display: flex;
    justify-content: center;
}
.btn-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}